$color-light-green: #E8F0E3;
$color-dark-green: #497555;

$color-light-cream: #FFFDF7;
$color-medium-cream: #F7F1EC;
$color-dark-cream: #EBE3D3;

$color-light-gray: #666666;
$color-medium-gray: #565656;
$color-dark-gray: #333333;
